---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Default from "../../layouts/Default.astro";
import { Image } from "astro:assets";
import placeholder from "../../assets/default-blog.webp";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<Default
  title="CYAN4S Blog"
  description="CYAN4S의 블로그입니다."
  heroImage={placeholder}
>
  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(360px,1fr))] gap-4 items-center justify-center p-4"
  >
    {
      posts.map((post) => (
        <a
          class="flex flex-col group h-[450px] border border-[#eee] rounded-lg overflow-hidden no-underline shadow-[0px_8px_8px_-8px_#0001] transition-shadow duration-200 hover:shadow-[0px_8px_16px_-8px_#00b8a970]"
          href={`/blog/${post.slug}/`}
        >
          <div class="overflow-hidden border-b border-[#eee]">
            <Image
              src={post.data.heroImage ?? placeholder}
              alt=""
              loading="eager"
              transition:name={`${post.id}-img`}
              class="max-h-[300px] object-cover h-auto w-full transition-transform duration-300 group-hover:scale-105"
            />
          </div>
          <div>
            <div
              class="pt-5 px-6 pb-0 text-[#444] text-[1.4rem] font-semibold"
              transition:name={`${post.id}-title`}
            >
              {post.data.title}
            </div>

            <div
              class="pt-3 px-6 pb-0 text-[#333] text-base font-normal"
              transition:name={`${post.id}-description`}
            >
              {post.data.description}
            </div>

            <div
              class="py-2 px-6 text-[0.9rem] font-extrabold text-[#888] text-right"
              transition:name={`${post.id}-date`}
            >
              <FormattedDate date={post.data.pubDate} />
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Default>
