---
<<<<<<< HEAD
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>안녕하세요! CYAN4S입니다.</h1>
      <p>홈페이지가 아직 공사 중입니다.</p>
    </main>
    <Footer />
  </body>
</html>
=======
import Section from "../components/Section.astro";
import Social from "../components/Social.astro";
import SocialIcon from "../components/SocialIcon.astro";
import Layout from "../layouts/Layout.astro";

import SocialInfo from "../social.json";
import { Content as About } from "../about.md";
import { Content as Others } from "../others.md";


const works = await Astro.glob("./works/*.{md,mdx}");
---

<style>
  .icons {
    display: flex;
    gap: 8px;
  }
</style>

<Layout>
  <Section id="title">
    <h1>CREATOR <br />FOR US</h1>
    <p><b>Son Inho / 손인호 / CYAN4S</b></p>
    <p>Game Developer / Web Developer</p>
    <p><i>홈페이지가 아직 공사 중에 있습니다. 양해 부탁드립니다.</i></p>
    <div class="icons">
      {SocialInfo.map((o) => <SocialIcon name={o.name} link={o.link} />)}
    </div>
  </Section>

  <Section id="rl">
    <h6>FEATURE 01</h6>
    <img src="/rl.png" alt="RHYACTION LIVE" width="400px" height="200px" />
    <h2>RHYACTION LIVE</h2>
    <p>오픈소스 Unity 리듬게임</p>
    <a class="hyper" href="https://github.com/CYAN4S/rhyaction-live">
      BROWSE SOURCE CODE
    </a>
  </Section>

  <Section id="br">
    <h6>FEATURE 02</h6>
    <img src="/br.png" alt="Bouncy Rumble" width="400px" height="200px" />
    <h2>BOUNCY RUMBLE</h2>
    <p>공에 바람을 넣어 던지는 TPS 게임</p>
    <a class="hyper" href="https://github.com/CYAN4S/bouncy-rumble/releases">
      PLAY PRE-RELEASE
    </a>
  </Section>

  <Section>
    <h2>ALL PROJECTS</h2>
    <div class="grid">
      {
        works.map((work) => (
          <a href={work.url}>
            <h4>{work.frontmatter.title}</h4>
            <p>{work.frontmatter.description}</p>
            <h6>PLATFORM</h6>
            <ul>
              {work.frontmatter.platform.map((stack: string) => (
                <li>{stack}</li>
              ))}
            </ul>
            <h6>STACK</h6>
            <ul>
              {work.frontmatter.stack.map((stack: string) => (
                <li>{stack}</li>
              ))}
            </ul>
          </a>
        ))
      }
    </div>
  </Section>

  <Section id="about">
    <div id="about-grid">
      <div>
        <h6>ABOUT</h6>
        <h2>
          우리 모두를 위한 게임 크리에이터,<br />
          <span style="color: #26bfb3">손인호</span>
          <svg
            style="
            fill: #26bfb3;
            width: 40px;
            height: 40px;
            vertical-align: -0.4rem;
          "
          >
            <use xlink:href="/icon.svg#cyan4s"></use>
          </svg>입니다.
        </h2>
        <About />
      </div>
      <img
        src="./cyan.svg"
        alt="Cyan, CYAN4S's persona OC"
        style="max-width: 400px"
      />
    </div>
  </Section>

  <Section id="others">
    <h6>OTHERS</h6>
    <Others />
    
    <h3>EXTERNAL LINKS</h3>
    <div class="grid ex">
      <a href="https://blog.cyan4s.com/" style="background-color: #26bfb3">
        <svg style="fill: white; width: 48px; height: 48px">
          <use xlink:href="/icon.svg#cyan4s"></use>
        </svg>
        <span>CYAN4S BLOG</span>
      </a>
      {
        SocialInfo.map((o) => (
          <Social name={o.name} fullname={o.fullname} link={o.link} />
        ))
      }
      <a href="mailto:me@cyan4s" style="background-color: #666666">
        <svg style="fill: white; width: 48px; height: 48px">
          <use xlink:href="/icon.svg#email"></use>
        </svg>
        <span>me@cyan4s.com</span>
      </a>
    </div>
  </Section>
</Layout>
>>>>>>> 1cb1f188adaa28eb21a5b405c5d258a6f3d135d5
