---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
// import "../styles/pretendard.css";
import "../styles/global.scss";
import { Image } from "astro:assets";
import defaultImage from "../assets/default.webp";

export interface Props {
  title?: string;
  description?: string;
  image?: ImageMetadata;
}

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = defaultImage,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Favicon -->
<link rel="icon" href="/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="icon" href="/favicon.ico" sizes="any" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
<meta name="twitter:site" content="@cyan4s" />
<meta name="twitter:site:id" content="@cyan4s" />
<meta name="twitter:creator" content="@cyan4s" />
<meta name="twitter:creator:id" content="@cyan4s" />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<ViewTransitions />