---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Default from "./Default.astro";
import ScrollToTop from "../components/ScrollToTop.astro";

type Props = CollectionEntry<"blog">["data"] & {
  post: CollectionEntry<"blog">;
  prev: CollectionEntry<"blog">;
  next: CollectionEntry<"blog">;
};

const {
  post: {
    data: { title, description, pubDate, updatedDate, heroImage },
  },
  prev,
  next,
} = Astro.props;
---

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }

  hr {
    border-top: 1px solid #ddd;
    margin: 2rem 0 4rem;
  }

  .last-updated-on {
    font-style: italic;
  }

  .neighbor {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    max-width: 720px;
  }

  .neighbor span {
    color: gray;
  }

  .card {
    max-width: 330px;
  }
</style>

<Default title={title} description={description} heroImage={heroImage}>
  <article>
    {
      heroImage && (
        <img src={heroImage} alt={`게시글 '${title}'의 헤더 이미지`} />
      )
    }
    <h1>{title}</h1>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div class="last-updated-on">
          <FormattedDate date={updatedDate} />에 수정됨
        </div>
      )
    }
    <hr />
    <slot />
    <hr />
  </article>

  <div class="neighbor">
    <div>
      <b>이전 게시글</b>
      {
        prev ? (
          <a class="card" href={`/blog/${prev.slug}`}>
            <img src={prev.data.heroImage || "/placeholder-blog.png"} />
            <div class="card-title">{prev.data.title}</div>
            <div class="card-desc">{prev.data.description}</div>
            <div class="card-date">{prev.data.pubDate.toDateString()}</div>
          </a>
        ) : (
          <div class="empty-card">
            <span>첫 게시글입니다.</span>
          </div>
        )
      }
    </div>
    <div>
      <b>다음 게시글</b>
      {
        next ? (
          <a class="card" href={`/blog/${next.slug}`}>
            <img src={next.data.heroImage || "/placeholder-blog.png"} />
            <div class="card-title">{next.data.title}</div>
            <div class="card-desc">{next.data.description}</div>
            <div class="card-date">{next.data.pubDate.toDateString()}</div>
          </a>
        ) : (
          <div class="empty-card">
            <span>마지막 게시글입니다.</span>
          </div>
        )
      }
    </div>
  </div>
  <ScrollToTop />
</Default>
